Repository raptor-ml/raptor, pull requests merged in 2023-01, with the labels that each got.

#212 fix: e2e tests improvements
  .dockerignore
  .github/workflows/test-e2e.yml
  Makefile
Labels: size/s

#213 build: new local environment setup
  .github/workflows/test-e2e.yml
  .gitignore
  .pre-commit-config.yaml
  .run/core-on-local-cluster.run.xml
  .run/historian-on-local-cluster.run.xml
  .tiltignore
  CONTRIBUTING.md
  Dockerfile.dockerignore
  Makefile
  Tiltfile
  config/core/core.yaml
  config/core/kustomization.yaml
  config/historian/historian.yaml
  config/historian/kustomization.yaml
  hack/dev/config/redis.yaml
Labels: size/m

#210 feat: allow modeling with raptor
  .run/Build images.run.xml
  .run/Deploy local cluster.run.xml
  PROJECT
  api/feature.go
  api/historian.go
  api/v1alpha1/feature_types.go
  api/v1alpha1/featureset_types.go
  api/v1alpha1/model_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/core/internal/setup/raptor.go
  cmd/historian/main.go
  config/crd/bases/k8s.raptor.ml_datasources.yaml
  config/crd/bases/k8s.raptor.ml_features.yaml
  config/crd/bases/k8s.raptor.ml_featuresets.yaml
  config/crd/bases/k8s.raptor.ml_models.yaml
  config/crd/kustomization.yaml
  config/crd/patches/webhook_in_models.yaml
  config/manifests/bases/raptor.clusterserviceversion.yaml
  config/rbac/model_editor_role.yaml
  config/rbac/model_viewer_role.yaml
  config/rbac/role.yaml
  config/samples/featureset.basic.yaml
  config/samples/kustomization.yaml
  config/samples/model.basic.yaml
  go.mod
  go.sum
  internal/e2e/main_test.go
  internal/e2e/samples_test.go
  internal/e2e/setup_test.go
  internal/engine/controllers/model_controller.go
  internal/engine/engine_bind.go
  internal/historian/historian.go
  internal/operator/model_controller.go
  internal/operator/suite_test.go
  internal/plugins/builders/model/fs.go
  internal/plugins/providers/historical/parquet/writer.go
  internal/plugins/providers/historical/snowflake/views.go
  internal/plugins/register.go
  internal/stats/stats.go
  labsdk/_test/diabetes.py
  labsdk/_test/main.py
  labsdk/pyproject.toml
  labsdk/raptor/__init__.py
  labsdk/raptor/decorators.py
  labsdk/raptor/frameworks/base.py
  labsdk/raptor/frameworks/huggingface_pipelines.py
  labsdk/raptor/frameworks/sklearn.py
  labsdk/raptor/local_state.py
  labsdk/raptor/model.py
  labsdk/raptor/replay.py
  labsdk/raptor/types.py
  pkg/querybuilder/featureset.tmpl.sql
  pkg/querybuilder/fs.go
  pkg/querybuilder/primitive.tmpl.sql
  pkg/querybuilder/tpl.go
  pkg/querybuilder/windowed.tmpl.sql
Labels: provider/snowflake, component/historian, component/labsdk, size/xl, component/engine

#218 Make contributing md file as a link
  README.md
Labels: size/xs

#219 ci: disable PR body length requirement
  .github/workflows/pr-triage.yml
Labels: size/s

#220 fix: minor issues with model CRD and Tilt
  Tiltfile
  api/v1alpha1/model_types.go
  config/crd/bases/k8s.raptor.ml_models.yaml
  go.mod
  go.sum
Labels: size/m

#221 build(ci): remove hack dev and improve tilt
  Makefile
  Tiltfile
  hack/dev/Makefile
  hack/dev/config/acme.yaml
  hack/dev/config/kind-cluster.yaml
  hack/dev/config/kind-metrics-server-patch.yaml
  hack/dev/config/providers-creds.edit.yaml
  hack/dev/config/raptor-core-patch.yaml
  hack/dev/config/raptor-core-svc-patch.yaml
  hack/dev/config/raptor-historian-patch.yaml
  hack/redis-standalone.yaml
Labels: size/m

#222 fix: startup issues with runtime and cert-ctrl
  cmd/core/internal/setup/certs.go
  config/core/core.yaml
  go.mod
  go.sum
  pkg/runtimemanager/rm.go
Labels: component/runtime-sidecar, size/s

#225 build(e2e): increase timeout
  cmd/core/internal/setup/certs.go
  go.mod
  go.sum
  internal/e2e/setup_test.go
Labels: size/s

#227 feat: extra dns names for cert
  cmd/core/internal/setup/certs.go
Labels: size/s

#233 ci: fix bug w/ generated files
  .github/workflows/go-lint.yml
  .github/workflows/licenses.yml
Labels: size/xs

#250 fix: model deployment
  api/common.go
  api/dsrc.go
  api/feature.go
  api/historian.go
  api/model.go
  api/plugin.go
  api/v1alpha1/feature_types.go
  api/v1alpha1/model_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/core/internal/setup/certs.go
  config/crd/bases/k8s.raptor.ml_models.yaml
  config/samples/model.basic.yaml
  go.mod
  go.sum
  internal/engine/controllers/datasource_controller.go
  internal/engine/controllers/model_controller.go
  internal/historian/historian.go
  internal/operator/feature_webhook.go
  internal/operator/model_controller.go
  internal/plugins/builders/model/model.go
  internal/plugins/modelservers/sagemaker-ack/ack.go
  internal/plugins/modelservers/sagemaker-ack/config.go
  internal/plugins/modelservers/sagemaker-ack/reconcile.go
  internal/plugins/modelservers/sagemaker-ack/serve.go
  internal/plugins/providers/historical/parquet/writer.go
  internal/plugins/providers/historical/snowflake/views.go
  labsdk/_test/diabetes.py
  labsdk/raptor/_internal/exporter/Makefile.j2
  labsdk/raptor/_internal/exporter/general.py
  labsdk/raptor/_internal/exporter/model.py
  labsdk/raptor/_internal/model_servers/sagemaker.py
  labsdk/raptor/_internal/model_servers/sagemaker/sagemaker_service.py
  labsdk/raptor/decorators.py
  labsdk/raptor/types/common.py
  labsdk/raptor/types/dsrc.py
  labsdk/raptor/types/feature.py
  labsdk/raptor/types/model.py
  labsdk/raptor/types/model_impl.py
  labsdk/raptor/types/yaml.py
  pkg/plugins/plugin.go
Labels: provider/snowflake, component/historian, size/l, component/engine

#252 fix: headless -> sourceless + sourceless replay
  api/feature.go
  api/middlewares.go
  api/plugin.go
  cmd/core/internal/setup/raptor.go
  internal/engine/engine.go
  internal/engine/engine_bind.go
  internal/engine/engine_pipeline.go
  internal/engine/feature.go
  internal/historian/historian.go
  internal/operator/feature_webhook.go
  internal/plugins/builders/model/model.go
  internal/plugins/builders/rest/rest.go
  internal/plugins/builders/sourceless/sourceless.go
  internal/plugins/builders/streaming/streaming.go
  internal/plugins/register.go
  labsdk/_test/main.py
  labsdk/raptor/__init__.py
  labsdk/raptor/_internal/exporter/general.py
  labsdk/raptor/_internal/exporter/model.py
  labsdk/raptor/decorators.py
  labsdk/raptor/program.py
  labsdk/raptor/replay.py
  labsdk/raptor/types/dsrc.py
  labsdk/raptor/types/feature.py
  labsdk/raptor/types/model.py
  labsdk/raptor/types/primitives.py
  labsdk/raptor/types/yaml.py
Labels: component/historian, size/m, component/engine

#255 feat: add source stub config
  internal/plugins/builders/rest/rest.go
  labsdk/_test/main.py
  labsdk/raptor/__init__.py
  labsdk/raptor/decorators.py
  labsdk/raptor/types/common.py
  labsdk/raptor/types/dsrc.py
  labsdk/raptor/types/dsrc_config_stubs/__init__.py
  labsdk/raptor/types/dsrc_config_stubs/protocol.py
  labsdk/raptor/types/dsrc_config_stubs/rest.py
  labsdk/raptor/types/dsrc_config_stubs/streaming.py
Labels: size/m

#259 feat: get_prediciton
  labsdk/raptor/_internal/exporter/model.py
  labsdk/raptor/decorators.py
  labsdk/raptor/replay.py
  labsdk/raptor/types/common.py
  labsdk/raptor/types/dsrc_config_stubs/rest.py
  labsdk/raptor/types/model_impl.py
  runtime/svc.py
Labels: component/runtime-sidecar, size/m
